Repository nanoframework/nf-VSCodeExtension, pull requests merged in 2021-11, with the labels that each got.

#1 Added initial version of VSCode extension
  .eslintrc.json
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/tasks.json
  .vscodeignore
  CHANGELOG.md
  LICENSE.md
  README.md
  assets/nF-logo-128.png
  azure-pipelines.yml
  config/filelist.txt
  config/signClient.json
  docs/nano-vs-code.gif
  docs/step-by-step10.png
  docs/step-by-step11.png
  docs/step-by-step12.png
  docs/step-by-step14.png
  docs/step-by-step15.png
  docs/step-by-step16.png
  docs/step-by-step17.png
  docs/step-by-step2.png
  docs/step-by-step3.png
  docs/step-by-step4.png
  docs/step-by-step5.png
  docs/step-by-step6.png
  docs/step-by-step7.png
  docs/step-by-step8.png
  docs/step-by-step9.png
  gulpfile.js
  installation.md
  package-lock.json
  package.json
  scripts/build.ps1
  src/dotnet.ts
  src/executor.ts
  src/extension.ts
  src/multiStepInput.ts
  src/serialportctrl.ts
  src/test/runTest.ts
  src/test/suite/extension.test.ts
  src/test/suite/index.ts
  src/utils.ts
  tsconfig.json
  version.json
  webpack.config.js
Labels: Area: Config-and-Build, Type: Documentation, Type: enhancement

#2 Work CI-CD
  azure-pipelines.yml
  gulpfile.js
  scripts/build.ps1
  src/extension.ts
  src/serialportctrl.ts
  version.json
Labels: Area: Config-and-Build

#3 Improvements in README
  README.md
Labels: Type: Documentation

#4 Code improvements
  src/dotnet.ts
  src/extension.ts
  src/multiStepInput.ts
  src/utils.ts
Labels: Type: enhancement

#5 Rework baud rate for esptool
  src/multiStepInput.ts
Labels: Type: enhancement

#6 Remove exclusions from tsconfig
  tsconfig.json
Labels: Area: Config-and-Build

#7 Improvements in packaging
  .vscodeignore
  tsconfig.json
  webpack.config.js
Labels: Area: Config-and-Build

#8 Work on extension packaging
  .vscodeignore
  tsconfig.json
  webpack.config.js
Labels: Area: Config-and-Build
