Repository nanoframework/nf-VSCodeExtension, pull requests merged in 2021-12, with the labels that each got.

#11 Fixed deploy pipeline
  package.json
Labels: Area: Config-and-Build

#10 Upgrade dependencies
  scripts/build.ps1
Labels: Type: dependencies

#12 Replace variables names
  scripts/build.ps1
Labels: Area: Config-and-Build

#19 Improvements in build
  azure-pipelines.yml
  scripts/build.ps1
Labels: Area: Config-and-Build

#21 Improvements in builds
  .vscodeignore
  README.md
  azure-pipelines.yml
  installation.md
  package-lock.json
  scripts/build.ps1
Labels: Area: Config-and-Build, Type: Documentation

#22 Targets list now only contains valid and updated packages
  src/multiStepInput.ts
Labels: Type: enhancement
